
#projects{font-family: "Futura"; color:#E3262A;
      font-weight: bold;}
#projects:hover{
  color:white;
}

body{
  background-color: #FFA89D;
  font-family: "Futura"; 
  color:#E3262A; 
  line-height: 10px;
font-size: 20px;}


h1{color:#E3262A;font-family: "Windsor"; 
letter-spacing: 7px; 
font-size: 100px;
 line-height: 65px;}

.subtitle{font-style: italic;
font-size: 55px;}



a{color:#F6E9E8;
  font-size: 26px;} 



